---
// For Accessibility
// This component provides a link that is only visible when focused. 
// Allows keyboard and screen reader users to bypass the header navigation.
---
<a 
  href="#main-content" 
  class="absolute left-0 z-[9999] m-3 -translate-y-96 transform bg-stone-900 px-4 py-3 text-stone-100 transition-transform focus:translate-y-0"
>
  Skip to main content
</a>