---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import ThemeMode from "./ThemeMode.astro";
import MobileMenu from "./MobileMenu.astro";

interface Props {
  about: string;
  projects: string;
  posts: string;
  connect: string;
}

const { about, projects, posts, connect } = Astro.props;
---

<header class="sticky top-0 z-50 bg-stone-100/80 dark:bg-stone-900/80 backdrop-blur-lg">
  <nav class="flex items-center justify-between py-4 border-b border-stone-200 dark:border-stone-700 mx-auto px-8">
    <!-- My Logo -->
    <a href="#hero" class="no-underline">
      <span class="zen-loop-regular text-2xl font-bold text-purple-600 dark:text-purple-500 hover:opacity-80 transition-opacity">
      Tolevats<span class="sedgwick-ave-regular"> .dev</span>
    </span>
    </a>
    <div class="hidden md:flex items-center space-x-8">
      <a href="#about">{about}</a>
      <a href="#projects">{projects}</a>
      <a href="#blog">{posts}</a>
      <a href="#connect" class="">{connect}</a>
    </div>
    <div class="flex items-center space-x-4">
      <LanguageSwitcher />
      <!-- Hydrate the ThemeMode island so its script is sent to the browser -->
      <ThemeMode />
      <!-- Hydrate the new MobileMenu island -->
      <MobileMenu {...Astro.props} />
    </div>
  </nav>
</header>
